html,
body {
    background: linear-gradient(#BBDEFB, #feff00);
}

.empty {
    fill: #fff;
    stroke-width: 1;
    stroke: #000;
}

.block {
    fill: yellow;
    stroke-width: 1;
    stroke: #000;
}

.water {
    fill: skyblue;
    stroke-width: 1;
    stroke: #000;
}

svg {
    height: 50%;
    overflow: scroll;
    width: 100%;
}

#outputTable .block {
    fill: #fff;
}